<div id="main" role="main" ng-hide="isLoading">
    <header class="text-align-center font-size-30 txt-color-red">
        {{chessBoard.FirstPlayerName}} VS {{chessBoard.SecondPlayerName}}
        <button ng-click="clickme()">Send</button>
    </header>

    <canvas class="scene" id="scene" style="width: 100%; height: 100%;"></canvas>

    <fieldset class="row">
        <section class="col col-sm-12">
            <span class="txt-color-green font-size-20">
                Player to act is
                <span class="txt-color-blue" ng-show="chessBoard.LogIndex%2!=0">{{chessBoard.FirstPlayerName}} (White)</span>
                <span class="txt-color-blue" ng-show="chessBoard.LogIndex%2==0">{{chessBoard.SecondPlayerName}} (Black)</span>
            </span>
            <br>
            <span class="txt-color-green font-size-20">
                <span class="txt-color-red" ng-show="prompt && !chessBoard.IsEnded">{{prompt}}</span>
                <span class="txt-color-red" ng-show="chessBoard.IsEnded">Game over!</span>
            </span>

        </section>
        <section class="col col-sm-12 margin-top-10">
            <table ng-init-board id="chess_board" cellpadding="0" class="col col-sm-4" cellspacing="0" ng-class="{'rotate-180': isCurrentUserHasBlackColor}">
                <tr ng-repeat="row in chessBoard.GameLog">
                    <td ng-repeat="column in row" ng-class="{ 'select-figure': column.active}" ng-click="selectedItem(column)">
                        <div ng-class="{'rotate-180': isCurrentUserHasBlackColor}">
                            <a href="#" ng-if="column.Figure.Type==1 && column.Figure.Color==2">&#9812;</a>
                            <a href="#" ng-if="column.Figure.Type==2 && column.Figure.Color==2">&#9813;</a>
                            <a href="#" ng-if="column.Figure.Type==3 && column.Figure.Color==2">&#9815;</a>
                            <a href="#" ng-if="column.Figure.Type==4 && column.Figure.Color==2">&#9814;</a>
                            <a href="#" ng-if="column.Figure.Type==5 && column.Figure.Color==2">&#9816;</a>
                            <a href="#" ng-if="column.Figure.Type==6 && column.Figure.Color==2">&#9817;</a>

                            <a href="#" ng-if="column.Figure.Type==1 && column.Figure.Color==1">&#9818;</a>
                            <a href="#" ng-if="column.Figure.Type==2 && column.Figure.Color==1">&#9819;</a>
                            <a href="#" ng-if="column.Figure.Type==3 && column.Figure.Color==1">&#9821;</a>
                            <a href="#" ng-if="column.Figure.Type==4 && column.Figure.Color==1">&#9820;</a>
                            <a href="#" ng-if="column.Figure.Type==5 && column.Figure.Color==1">&#9822;</a>
                            <a href="#" ng-if="column.Figure.Type==6 && column.Figure.Color==1">&#9823;</a>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="col col-sm-4" ng-controller="ChatController">
                <span ng-repeat="message in messages">
                    <b>{{message.From}}: </b>{{message.Content}} <br>
                </span>
                <textarea ng-model="message"></textarea>
                <button ng-click="sendMessage()">Send</button>
            </div>
        </section>
    </fieldset>
</div>