<div id="main" role="main" ng-hide="isLoading">
    <div class="row col-sm-12">
        <div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
                <h2> Приглашения </h2>
            </header>

            <!-- widget div-->
            <div>
                <!-- widget edit box -->

                <div class="widget-body no-padding smart-form">
                    <h1 class="todo-group-title">
                        <i class="fa fa-check"></i>Available Invitations(<small class="num-of-tasks">{{availableInvitations.Count}}</small>)
                        <small class="pull-right">
                            <a ng-href="" ng-click="newInvitation()" class="btn btn-block btn-sm btn-success">
                                <i class="fa fa-plus"></i>
                            </a>
                        </small>
                        <small class="pull-right margin-right-5">
                            <a ng-href="" ng-click="refreshAvailableInvitations()" class="btn btn-block btn-sm btn-info">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </small>

                        <small class="pull-right margin-right-5 margin-top-5">
                            <label class="txt-color-red">
                                Automatic update after {{refreshAvailableInvitationsTime}} seconds
                            </label>
                        </small>

                    </h1>
                    <ul id="sortable2" class="todo">
                        <li ng-repeat="item in availableInvitations.Items" class="fa-apple repeat-animation">
                            <i></i>
                            <span class="pull-right margin-top-10" ng-if="currentUserId==item.InvitatorId || isAdmin">
                                <a ng-href="" ng-click="deleteInvitation(item.Id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                            <span style="padding-left: 0; width: 50px">
                                <label class="input-lg">
                                    <a href="#" ng-disabled="currentUserId==item.InvitatorId" ng-click="takeInvitation(item)" class="btn btn-block btn-sm btn-info"><i class="fa fa-check"></i></a>
                                    <i></i>
                                </label>
                            </span>
                            <p style="padding-left: 25px">
                                <strong>{{item.InvitatorUserName}}</strong>
                                <span class="date">{{item.CreateDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>

                            </p>
                        </li>
                    </ul>

                    <h1 class="todo-group-title">
                        <i class="fa fa-check"></i>Acccept Invitations (<small class="num-of-tasks">{{acceptInvitations.Count}}</small>)

                        <small class="pull-right margin-right-5">
                            <a ng-href="" ng-click="refreshAcceptInvitations()" class="btn btn-block btn-sm btn-info">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </small>

                        <small class="pull-right margin-right-5 margin-top-5">
                            <label class="txt-color-red">
                                Automatic update after {{refreshAcceptInvitationsTime}} seconds
                            </label>
                        </small>

                    </h1>
                    <ul id="sortable2" class="todo">
                        <li ng-repeat="item in acceptInvitations.Items" class="fa-apple repeat-animation">
                            <i></i>
                            <!--<span class="pull-right margin-top-10" ng-if="currentUserId==item.InvitatorId || isAdmin">
                                    <a ng-href="" ng-click="deleteInvitation(item.Id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                </span>-->
                            <span style="padding-left: 0; width: 50px">
                                <label class="input-lg">
                                    <a href="#" class="btn btn-block btn-sm btn-success"><i class="fa fa-gamepad"></i></a>
                                    <i></i>
                                </label>
                            </span>
                            <p style="padding-left: 25px">
                                <strong>{{item.InvitatorUserName}}</strong>
                                <span class="date">{{item.CreateDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>

                            </p>
                        </li>
                    </ul>

                    <h1 class="todo-group-title">
                        <i class="fa fa-check"></i>Closed Invitations (<small class="num-of-tasks">{{closedInvitations.Count}}</small>)

                        <small class="pull-right margin-right-5">
                            <a ng-href="" ng-click="refreshClosedInvitations()" class="btn btn-block btn-sm btn-info">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </small>

                        <small class="pull-right margin-right-5 margin-top-5">
                            <label class="txt-color-red">
                                Automatic update after {{refreshClosedInvitationsTime}} seconds
                            </label>
                        </small>

                    </h1>
                    <ul id="sortable2" class="todo">
                        <li ng-repeat="item in closedInvitations.Items" class="fa-apple repeat-animation">
                            <i></i>
                            <!--<span class="pull-right margin-top-10" ng-if="currentUserId==item.InvitatorId || isAdmin">
                                <a ng-href="" ng-click="deleteInvitation(item.Id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>-->
                            <span style="padding-left: 0; width: 50px">
                                <label class="input-lg">
                                    <a href="#" class="btn btn-block btn-sm btn-success"><i class="fa fa-gamepad"></i></a>
                                    <i></i>
                                </label>
                            </span>
                            <p style="padding-left: 25px">
                                <strong>{{item.InvitatorUserName}}</strong>
                                <span class="date">{{item.CreateDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>

                            </p>
                        </li>
                    </ul>

                    <!-- end content -->
                </div>

            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->

    </div>
</div>