<div class="animated fadeInDown no-right-panel">
    <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
    <header id="header">
        <!--<span id="logo"></span>-->
        <div id="logo-group">
            <span id="logo"> <img src="/img/logo.png" alt="SmartAdmin"> </span>
            <!-- END AJAX-DROPDOWN -->
        </div>
        <span id="extr-page-header-space" class="pull-right"> <span class="hidden-mobile">Нужен аккаунт?</span> <a ng-href="#/Register" class="btn btn-danger">Создать аккаунт</a> </span>
    </header>
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-4 col-lg-4">
                <div class="well no-padding">
                    <form id="login-form" ng-formvalidation class="smart-form client-form" name="myForm">
                        <!--ng-submit=" login()"-->
                        <header>
                            Вход
                        </header>
                        <div ng-if="showErrorMessages">
                            <div ng-if="message" class="alert alert-danger fade in">
                                <button class="close" data-dismiss="alert">×</button>
                                <i class="fa-fw fa fa-times"></i>
                                <strong>Error!</strong> {{message}}
                            </div>
                            <!--Use this devises if you want-->
                        </div>
                        <fieldset>
                            <section>
                                <label class="label">Электронная почта</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="email" id="email" name="email" data-ng-model="loginData.userName" required ng-change="deleteMessage()">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Введите адрес электронной почты</b>
                                </label>
                            </section>
                            <section>
                                <label class="label">Пароль</label>
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" id="password" value="Admin" name="password" data-ng-model="loginData.password" required ng-change="deleteMessage()">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>Введите ваш пароль</b>
                                </label>
                                <div class="note">
                                    <!--<a href="forgotpassword.html">Forgot password?</a>-->
                                </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button data-ng-click="login()" ng-disabled="myForm.password.$dirty && myForm.password.$invalid ||myForm.email.$dirty && myForm.email.$invalid" type="submit" class="btn btn-primary">
                                Вход
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->

</div>

